body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f172a, #064e3b);
    color: white;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: auto;
    padding: 40px;
}

h1 {
    text-align: center;
    font-family: "Lucida Handwriting", "Brush Script MT", cursive;
    font-size: 5rem;
    font-weight: bold;
    color: #bbf7d0;
    margin-bottom: 10px;
    text-shadow: 0 0 20px rgba(34, 197, 94, 0.5);
}

.subtitle {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.2rem;
}

.question-card {
    background: rgba(255,255,255,0.1);
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 25px;
    backdrop-filter: blur(10px);
}

.option {
    display: block;
    margin: 12px 0;
    font-size: 1.1rem;
}

button {
    background: #22c55e;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background: #16a34a;
}

.score-circle {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin: 40px auto;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/97/The_Earth_seen_from_Apollo_17.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    color: black;
    text-shadow:
    -1px -1px 0 red,
     1px -1px 0 red,
    -1px  1px 0 red,
     1px  1px 0 red,
     0 0 10px rgba(255, 0, 0, 0.8);
    box-shadow: 0 0 40px rgba(34,197,94,0.6);
    border: 5px solid #22c55e;
}

.tips-box {
    background: rgba(255,255,255,0.1);
    padding: 25px;
    border-radius: 20px;
    margin-top: 30px;
}

li {
    margin: 10px 0;
}